apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/juliaaano/quarkus-deploy.git
    targetRevision: main
    path: chart
    helm:
      valueFiles:
        - ../values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: demo-dev
  syncPolicy:
    automated: {}
