apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "quarkus.fullname" . }}
  labels: {{- include "quarkus.labels" . | nindent 4 }}
data: {{ required "environment is required" .Values.environment | nindent 2 }}
