apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: liquibase
  labels: {{- include "quarkus.labels" . | nindent 4 }}
spec:
  encryptedData:
    LIQUIBASE_DB_USERNAME: {{ required "secrets.liquibase.dbUsername required" .Values.secrets.liquibase.dbUsername }}
    LIQUIBASE_DB_PASSWORD: {{ required "secrets.liquibase.dbPassword required" .Values.secrets.liquibase.dbPassword }}
  template:
    type: Opaque
    metadata:
      labels: {{- include "quarkus.labels" . | nindent 8 }}
