apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "liquibase.fullname" . }}
  labels: {{- include "quarkus.labels" . | nindent 4 }}
data:
{{ (.Files.Glob "liquibase/*").AsConfig | indent 2 }}