apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: application
  labels: {{- include "quarkus.labels" . | nindent 4 }}
spec:
  encryptedData:
    QUARKUS_DATASOURCE_USERNAME: {{ required "secrets.app.dbUsername required" .Values.secrets.app.dbUsername }}
    QUARKUS_DATASOURCE_PASSWORD: {{ required "secrets.app.dbPassword required" .Values.secrets.app.dbPassword }}
  template:
    type: Opaque
    metadata:
      labels: {{- include "quarkus.labels" . | nindent 8 }}
