apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ include "quarkus.fullname" . }}
  labels: {{- include "quarkus.labels" . | nindent 4 }}
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
spec:
  encryptedData:
    QUARKUS_DATASOURCE_USERNAME: {{ required "secrets.app.dbUsername required" .Values.secrets.app.dbUsername }}
    QUARKUS_DATASOURCE_PASSWORD: {{ required "secrets.app.dbPassword required" .Values.secrets.app.dbPassword }}
  template:
    type: Opaque
    metadata:
      labels: {{- include "quarkus.labels" . | nindent 8 }}
