apiVersion: v1
kind: Service
metadata:
  name: {{ include "quarkus.fullname" . }}
  labels: {{- include "quarkus.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector: {{- include "quarkus.selectorLabels" . | nindent 4 }}
